<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="usermapper">

	<!-- <select id="useralllist" resultType="map"> -->
	<!-- select * from usr_user -->

	<!-- </select> -->

	<!-- <select id="userselect" resultType="map"> -->
	<!-- select * from usr_user where mail_id = #{param1} -->

	<!-- </select> -->

	<!-- <select id="userchkselectid" resultType="map"> -->
	<!-- select count(1) as cnt from usr_user where mail_id = #{param1} -->

	<!-- </select> -->

	<!-- <select id="userchkselect" resultType="map"> -->
	<!-- select count(1) as cnt from usr_user where mail_id = #{email_id} and 
		pw = #{pw} -->

	<!-- </select> -->

	<!-- <select id="userchkselectinfo" resultType="map"> -->
	<!-- select * from usr_user where mail_id = #{email_id} and pw = #{pw} -->

	<!-- </select> -->

	<!-- <select id="userchkparamselect" resultType="map" > -->
	<!-- select count(1) as cnt from usr_user where mail_id = #{param1} and 
		pw = #{param2} -->

	<!-- </select> -->


	<!-- <select id="userchkdtoselect" resultType="map" parameterType="com.steveleejava.user.UserDto"> -->
	<!-- select count(1) as cnt from usr_user where mail_id = #{email_id} and 
		pw = #{pw} -->

	<!-- </select> -->
	<insert id="insert" parameterType="com.steveleejava.user.signup.dto.UserDto">
		INSERT INTO usr_user
		(
			mail_id, 
			pw, 
			type, 
			addr, 
			sn7, 
			phone_num, 
			use_yn ,
			create_dt
		)
		VALUES(
			#{mailId}, 
			#{pw}, 
			#{type}, 
			#{addr}, 
			#{sn7}, 
			#{phoneNum}, 
			#{useYn}, 
			now()
		)
	</insert>
	
	<!-- <insert id="insert" parameterType="com.steveleejava.user.signup.dto.UserDto">
		INSERT INTO usr_user
		(mail_id, pw, type, addr, sn7, phone_num, use_yn, create_dt)
		VALUES(#{mail_id}, #{pw}, #{type}, #{addr}, #{sn7}, #{phone_num}, #{use_yn}, #{create_dt})
	</insert> -->
</mapper>
