<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="usercudmapper">
	<!--VALUES (#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8});  -->
	
<!-- 	<insert id="userinsert" parameterType="map"> -->
<!-- 		INSERT INTO usr_user (`mail_id`, `pw`, `type`, `addr`, `sn7`, `phone_num`, `use_yn`, `create_dt`)  -->
<!-- 		VALUES (#{mail_id}, #{pw}, #{type}, #{addr}, #{sn7}, #{phone_num}, #{use_yn}, now()); -->
<!-- 	</insert> -->


</mapper>
